*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

body{
  background: #070707;
  overflow-x: hidden;
}

.header::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 40vh;
  background-image: url("../header.gif");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: -1;
}

.header h1{
  text-align: center;
  padding-top: 6%;
  font-size: 3vw;
}

.header .nav{
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin-top: 2%;
  float: right;
  margin-right: 30px;
}

.header .nav a{
  background: rgba(0, 0, 0, 0.7);
  padding: 3% 5%;
  border-radius: 100px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
}

.header .nav a:hover{
  background: rgba(0, 0, 0, 1);
}

.article-list{
  margin-top: 10vh;
  width: 60%;
  margin-left: 20%;
  background: #000019;
  padding: 8% 10% 1% 10%;
  border-radius: 1vw;
  box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.58);
  padding-bottom: -15vh;
  margin-bottom: 15vh;
}

.article{
  margin-bottom: 10vh;
  margin-top: 5vh;
  padding-top: 4vh;
  display: inline-block;
  border-top: 1px solid #333;
}

.first_article{
  margin-top: -5vh;
  border-top: none;
}

.article .button{
  font-size: 15px;
  position: absolute;
  padding: 10px;
  background-color: #682157;
  margin-top: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

.article .button:hover{
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.9);
  transform: scale(1.02);
}

.article h2{
  margin-top: 3vw;
  margin-bottom: 1vw;
}

section h3{
  margin-top: 3vh;
}

section h2{
  margin-top: 50px;
  margin-bottom: 15px;
}

section img{
  margin: 50px 0px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 10px rgba(0,0,0,0.9);
}

section{
  padding-bottom: 12vh !important;
}

section p{
  margin-top: 30px;
}

section code{
  font-family: monospace;
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 3px;
  display: block;
}

section blockquote{
  padding-left: 25px;
  border-left: 5px solid #682157;
}

section blockquote *{
  font-size: 14px;
}

li{
  margin-left: 15px;
  margin-top: 1vh;
}

@media screen and (max-width: 640px) {
  .header h1{
    font-size: 10vw;
    margin-top: 15%;
  }

  .article-list{
    width: 90%;
    margin-left: 5%;
  }

  .article h2{
    margin-bottom: 20px;
    font-size: 20px;
  }

  .article-list{
    margin-bottom: 10vh;
    padding: 8% 10% 0.5% 10%;
  }

  .header .nav{
    margin-left: 0%;
    width: 100%;
    margin-top: 20px;
    float: none;
  }
}
